/* @font-face 
-------------------------------------------------- */
@font-face {
    font-family: '_.uploaded_file';
    src: url('../fonts/brown_pro_regular-webfont.woff2') format('woff2'),
         url('../fonts/brown_pro_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Lettera';
    src: url('../fonts/Lettera.woff2') format('woff2'),
        url('../fonts/Lettera.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lettera';
    src: url('../fonts/Lettera.woff2') format('woff2'),
        url('../fonts/Lettera.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lettera';
    src: url('../fonts/Lettera-Bold.woff2') format('woff2'),
        url('../fonts/Lettera-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'BrownStd';
    src: url('../fonts/BrownStd-Bold.woff2') format('woff2'),
        url('../fonts/BrownStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lettera';
    src: url('../fonts/Lettera.woff2') format('woff2'),
        url('../fonts/Lettera.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lettera';
    src: url('../fonts/Lettera-Bold.woff2') format('woff2'),
        url('../fonts/Lettera-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/*Reset style*/
.cw{
	color:#fff !important;
}
a{
    columns: #000;
}
h3{
    font-size: 20px;
    margin-bottom: 1rem;
}

/*Custome Padding*/
.padding0{
	padding:0 !important;
}
.paddingLeft0{
	padding-left:0 !important;
}
.paddingRight0{
	padding-right:0 !important;
}
/*Custome Padding*/
/*table design */
.table thead th{
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    background: #ffffff;
}
.table tbody td{
    font-family: 'Lettera';
}
.table-cont{
    /**make table can scroll**/
    max-height: 400px;
    overflow: auto;
   
    
  }

  /** Table style**/
html {
  position: relative;
  min-height: 100%;
}
body {
	 font-family: 'BrownStd';
	 font-size:14px;
	 color:#000;
}
header{
	padding:20px 0;
}
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  float: left;
	padding:15px 0;
	 border-top:2px solid #000;
	 color:#000;
}
.login-full .footer{
	  border-top:2px solid #fff;
	    color:#fff;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.login-full{
	background: black;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
	
}
.footer .copyright{
	width:100%;
	
}
.login-full .footer .copyright{
	color:#fff;
}
.footer .footer-list{
	width:100%;
	margin:0;
	padding:0;
	list-style-type:none;
}
.footer .footer-list li{
	float:left;
	display:inline;
	padding:0 10px 0 0;
	
}
.login-full .footer .footer-list li{
	color:#fff;
}
.logo-login{
	margin-top:2rem;
	margin-bottom:3rem;
}
/* Make the image fully responsive */
 .slider-block .carousel-inner img {
      width: 100%;
      height: 100%;
  }
  .slider-block p{
	  color:#fff;
	  padding:0 5rem;
	  font-size:16px;
  }
.slider-block  .carousel-indicators{
	  bottom: -26px;
  }
  .slider-block .arrow-icn img{
	  width:30px !important;
	  height:30px !important;
  }
  .slider-block .carousel-indicators .active{
	  background:#3dd62d !important;
  }



.login-form-block{
	margin:4rem 0 3rem;
}
.floating-form {
  width:100%;
  margin-bottom:2rem;
}

/****  floating-Lable style start ****/
.floating-label { 
  position:relative; 
  margin-bottom:20px; 
}
.floating-input , .floating-select {
  font-size:20px;
  padding:4px 4px 10px;
  display:block;
  width:100%;
  height:30px;
  background-color: transparent;
  border:none;
  border-bottom:2px solid #fff;
  color:#fff;
  text-align:center;
  font-family: 'Lettera';
}

.floating-input:focus , .floating-select:focus {
     outline:none;
     border-bottom:2px solid #3dd62d; 
}

.floating-form label {
	width:100%;
	font-family: 'Lettera';
	text-align:center;
  color:#fff; 
  font-size:20px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:-9px;
  padding-bottom:10px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

.floating-input:focus ~ label, .floating-input:not(:placeholder-shown) ~ label {
  top:-25px;
  font-size:14px;
  color:#fff;
}

.floating-select:focus ~ label , .floating-select:not([value=""]):valid ~ label {
  top:-18px;
  font-size:14px;
  color:#fff;
}

/* active state */
.floating-input:focus ~ .bar:before, .floating-input:focus ~ .bar:after, .floating-select:focus ~ .bar:before, .floating-select:focus ~ .bar:after {
  width:100%;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.floating-textarea {
   min-height: 30px;
   max-height: 260px; 
   overflow:hidden;
  overflow-x: hidden; 
}

/* highlighter */
.floating-form .highlight {
  position:absolute;
  height:50%; 
  width:100%; 
  top:15%; 
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
.floating-input:focus ~ .highlight , .floating-select:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* animation */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

/****  floating-Lable style end ****/
.rem-box{
	width:30%;
}
.rem-box input[type=checkbox] {
    -webkit-appearance: none;
    -appearance: none;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 15px;
    height: 15px;
}
.rem-box input[type=checkbox], .warning p {
    float: left;
}
.rem-box input[type=checkbox]:checked {
    background: #43D73C;
    border: 1px solid #43D73C;
	outline:0;
}
.remem{
	color:#fff;
	 font-family: 'Lettera';
	 margin-top: -3px;
    float: left;
    margin-left: 10px;
}
.warning-text{
	margin-bottom:2rem;
	margin-top:-2rem;
}
.btn.btn-login{
	float: none;
    display: table;
    padding: 7px 35px;
    border-radius: 0;
    margin: 15px auto;
    font-family: lettera;
    font-weight: 700;
    background: #43D73C!important;
    color: #fff;
    border: 1px solid #43D73C;
	color:#fff;
}
.hdr-srch{
	width:100%;
	float:left;
	display:inline;
	
}
.form-control{
	width:100%;
	border:none;
	border-bottom:2px solid #000 !important;
	border-radius:0;
	font-family: 'Lettera';
	color:#000;
}
.form-control:focus{
	outline:0;
	box-shadow:none;
}
header .logo{
	width:50%;
	text-align:center;
}
header .select-years{
	width:100%;
	float:left;
	display:inline;
}
.hdr-top-row{
	width:100%;
	float:left;
	display:inline;
	margin:-2rem 0 0 0;
}
.hdr-selection,
.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-secondary.dropdown-toggle:focus,.hdr-selection,.btn-secondary:hover,.show>.btn-secondary.dropdown-toggle:focus, .hdr-selection{
	background:none;
	border:none;
	color:#000;
	outline:0 !important;
}
.dropdown-menu{
	border:none;
	background:none;

}


.dropdown-item{
	font-size:14px;
}
.dropdown-item,.dropdown-item:hover{
	background:#000;
	color:#fff;
	margin-bottom:4px;
}
.menu-area{
		width:100%;
		float:left;
		display:inline;
		border-top:2px solid #000;
		border-bottom:2px solid #000;
		margin:1em 0 0 0;
		padding:2px 0 0;
}
.nav-item{
	padding: 0 1.5em 0 0;
}
.nav-item:last-child{
	padding-right:0 !important;
}
.nav-item .nav-link {
	color:#000;
	font-size:16px;
	border-bottom:2px solid transparent;
}
.nav-item .nav-link:hover,
.nav-item .nav-link.active{
	    color: #19B552!important;
		border-bottom:2px solid #19B552;
}
.navbar.navbar-expand-lg{
	padding:0;
}
.nav-icon img{
	width:24px;
	height:24px;
}
.navbar-toggler:not(:disabled):not(.disabled){
	outline:0 !important;
}
.dashboard-main{
    width: 100%;
    float: left;
    display: inline;
    margin: 1rem 0;
}
.dashboard-panlel{
    width: 100%;
    float: left;
    display: inline;
    background: #edf1f5;
    padding: 15px;
}
.acc-block{
    margin: 0;
    padding: 0;
    list-style-type: none;
 
}
.acc-block li{
    width: 100%;
    float: left;
    display: block;
    margin-bottom: 27px;
    border: 1px solid #000;

}
.acc-block li .acc-lft{
    width: 30%;
    display: block;
    float: left;
    padding: 20px;
    background: #43d73c;

}
.acc-block li .acc-lft span{
    color: #fff;
    font-size: 14px;
    text-align: center;
    float: left;
    display: block;
}
.acc-rgt{
    width: 70%;
    float: left;
    display: block;
    padding: 12px;
    float: left;
}
.acc-rgt span{
    color: #19b552;
    float: right;
    font-size: 24px;
}
.white-box{
    background: #fff;
    padding: 15px 15px;
    margin-bottom: 0;
    width: 100%;
    float: left;
    -webkit-box-shadow: -8px 10px 48px -12px rgba(138,138,138,1);
    -moz-box-shadow: -8px 10px 48px -12px rgba(138,138,138,1);
    box-shadow: -8px 10px 48px -12px rgba(138,138,138,1);
    
}
.white-box h3 a{
    font-size: 12px;
    color: #000;
}
.white-box .box-title{
    margin: 0 0 12px;
    font-weight: 500;
    font-size: 12px;
}
.white-box .box-para{
    width: 100%;
    float: left;
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;

}
.white-box .box-para li{
    width: 100%;
    float: left;
    display: block;
    font-size: 12px;
    border-top:1px solid #dedede;
    padding: 10px 15px;
    font-family: 'Lettera';

}
.btn{
    border-radius: 0 !important;
    color: #000;
    background-color: #43D73C!important;
}
a:hover{
    color: #000 !important;
    text-decoration: none;

}
.vw{
    font-size: 13px;
}
.apt-btn{
    margin: 1.5rem 0;
}
.dropdown-item, .dropdown-item:hover{
    color: #fff !important;
}